html, body {
	margin: 0 auto;
	padding: 0;
	width: 50%;
	min-width: 300px;
	max-width: 900px;
}

body > h2,
body > h3 {
	margin: 20px 0 10px;
	padding: 5px;
	background-color: #316cc4;
	color: #fff;
}